body * {
    font-family: cursive;
    box-sizing: border-box;
    font-size: 16px;
}

.content-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 110px;
}

.calculator-wrapper {
    height: 624px;
    display: flex;
    padding: 20px;
    background-color: #cafff8;
    border: 1px solid #828282;
    border-radius: 8px;
    box-shadow: 2px 2px 12px #acacac;
    position: relative;
}

.calc-panel-wrapper {
    width: 330px;
    margin-right: 16px;
}

.board-wrapper {
    background-color: #efefef;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #666666;
    margin-bottom: 16px;
}

.board-wrapper.board-wrapper-history {
    width: 230px;
    height: 100%;
    margin-bottom: 0;
}

.board {
    background-color: #bbbbbb;
    border: 1px solid #666666;
    border-radius: 4px;
    padding: 4px 18px;
}

.board.board-history {
    height: 100%;
    padding-right: 0;
}

.board.mod-active {
    background-color: #ffffff;
}

.board-value {
    flex: 1 1 100%;
    text-align: end;
    height: 28px;
    width: 100%;
    word-break: break-all;
    overflow: hidden;
}

.board-value.result {
    font-size: 20px;
    font-weight: bold;
}

.board-value.history-operation {
    height: 100%;
    padding-right: 6px;
    overflow: auto;
}

.keypad {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 12px;
    margin-bottom: 6px;
}

.btn {
    height: 86px;
    box-shadow: 2px 3px 2px #acacac;
    outline: none;
    background-color: #efefef;
    border: 1px solid #0000009c;
    border-radius: 4px;
    pointer-events: none;
    cursor: pointer;
    font-size: 32px;
}

.btn.mod-active {
    pointer-events: auto;
}

.btn:hover {
    background-color: #dedede;
}

.long-btn-wrapper {
    margin-bottom: 16px;
    display: flex;
}

.long-btn {
    font-size: 22px;
    width: 100%;
    margin-right: 16px;
    height: 60px;
}

.long-btn:last-child {
    margin-right: 0;
}

.btn-on-off {
    pointer-events: auto;
}

.btn-c {
    background-color: #ff9492;
}

.btn-c:hover {
    background-color: #ff7372;
}

.calc-name {
    font-family: monospace;
    left: 20px;
    position: absolute;
    bottom: 1px;
}

.add-keypad-wrapper {
    display: flex;
}

.btn-add-keypad-wrapper {
    display: flex;
    align-items: center;
}

.btn-add-keypad {]
    width: 30px;
    min-width: auto;
    height: 90px;
}

.additional-keypad {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 12px;
    margin-left: 10px;
}
